
:host {
    button.ql-active {
        background-color: var(--sdo-theme-grey-300);
    }

    select[class*=ql-] {
        display: none;
    }

    mat-form-field {
        width: auto;

        ::ng-deep .mat-form-field-wrapper {
            padding-bottom: 0;
        }

        mat-select {
            &.ql-header {
                width: 120px;
            }

            &.ql-size {
                width: 100px;
            }
        }
    }

}
