; check Node and NPM versions defined in the package.json file
engine-strict=true

; The following line is for NPM 7+ support, should remove it once resolved peer dependency conflict
legacy-peer-deps=true

; -----------------------------------------------------------------------
; The credentials will be automatically injected here in RCIS CI/CD pipeline
; For local debugging, please download .npmrc file manually every 3 months max from RCIS Ops Portal (https://ops.rcis.slb.com/, in menu ops -> Secrets), or use the link below
; https://ops-secretgateway.rcis.slb.com/file/DevOps.Service.SecretGateway/templates/npmrc
; Rename the downloaded file to ".npmrc", and save it under your system User folder
; For more info, see https://dev.azure.com/slb1-swt/Prism/_wiki/wikis/Prism.wiki/14515/BCP_RCIS_Dev?anchor=to-npm-developers
; -----------------------------------------------------------------------

registry=https://pkgs.dev.azure.com/slb1-swt/Prism/_packaging/prism_npm/npm/registry/
strict-ssl=false

@sdo:registry=https://pkgs.dev.azure.com/slb1-swt/Prism/_packaging/prism_npm/npm/registry/
@slb-is:registry=https://pkgs.dev.azure.com/slb1-swt/Prism/_packaging/prism_npm/npm/registry/
@slbint:registry=https://pkgs.dev.azure.com/slb1-swt/Prism/_packaging/prism_npm/npm/registry/
@int:registry=https://pkgs.dev.azure.com/slb1-swt/Prism/_packaging/prism_npm/npm/registry/
@slb-dls:registry=https://pkgs.dev.azure.com/slb1-swt/Prism/_packaging/prism_npm/npm/registry/
@slb-town-ui:registry=https://pkgs.dev.azure.com/slb1-swt/Prism/_packaging/prism_npm/npm/registry/
@slb-planck-ui:registry=https://pkgs.dev.azure.com/slb1-swt/Prism/_packaging/prism_npm/npm/registry/
@slb-authentication:registry=https://pkgs.dev.azure.com/slb1-swt/Prism/_packaging/prism_npm/npm/registry/
@slb-angular:registry=https://pkgs.dev.azure.com/slb1-swt/Prism/_packaging/prism_npm/npm/registry/
@slb-drillingsharedcomponent:registry=https://pkgs.dev.azure.com/slb1-swt/Prism/_packaging/prism_npm/npm/registry/
@slb-drillplan:registry=https://pkgs.dev.azure.com/slb1-swt/Prism/_packaging/prism_npm/npm/registry/
@slb-rtviz:registry=https://pkgs.dev.azure.com/slb1-swt/Prism/_packaging/prism_npm/npm/registry/
@wellbarrier:registry=https://pkgs.dev.azure.com/slb1-swt/Prism/_packaging/prism_npm/npm/registry/

; begin auth token
//pkgs.dev.azure.com/slb1-swt/Prism/_packaging/prism_npm/npm/registry/:username=slb1-swt
//pkgs.dev.azure.com/slb1-swt/Prism/_packaging/prism_npm/npm/registry/:_password=NW02Nm01cG1nbnM2Y3I3cGxiazU3eGo2emtneXl0b3V3b2toaGo1dTZ5eDZ1bmdrcTY1cQ==
//pkgs.dev.azure.com/slb1-swt/Prism/_packaging/prism_npm/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/slb1-swt/Prism/_packaging/prism_npm/npm/:username=slb1-swt
//pkgs.dev.azure.com/slb1-swt/Prism/_packaging/prism_npm/npm/:_password=NW02Nm01cG1nbnM2Y3I3cGxiazU3eGo2emtneXl0b3V3b2toaGo1dTZ5eDZ1bmdrcTY1cQ==
//pkgs.dev.azure.com/slb1-swt/Prism/_packaging/prism_npm/npm/:email=npm requires email to be set but doesn't use the value
; end auth token

; -----------------------------------------------------------------------
; pipeline injection goes below this line
; -----------------------------------------------------------------------
