::ng-deep .lpc-quill-toolbar-panel {
    max-width: fit-content;
    max-height: fit-content;
    min-width: fit-content;
    min-height: fit-content;

    .mat-menu-content:not(:empty) {
        padding: 0;

        > .mat-menu-item {
            line-height: 40px;
            height: 40px;
            padding: 0 12px;
            text-align: center;
        }

        > .mat-menu-item .mat-icon {
            margin-right: 0;
            color: var(--sdo-theme-primary-default);
        }
    }
}
