<mat-form-field>
    <mat-select [formControl]="formControl"
                (selectionChange)="onSelectionChange($event.value)"
                [class]="'ql-' + item.name"
                [placeholder]="item.name">
        <mat-option *ngFor="let op of options" [value]="op">
            <span [class]="'ql-' + item.name + '-item'"
                  [attr.data-value]="op">{{ op ? item.formatter(op) : 'Normal' }}</span>
        </mat-option>
    </mat-select>
</mat-form-field>
<select #qlSelect [class]="'ql-'+item.name">
    <option *ngFor="let op of options" [attr.value]="op ? op : null"
            [attr.selected]="op === false ? true : null"></option>
</select>
